
  /* #Mega Menu Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
  }

  /* #hoverable Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .hoverable {
    position: static;
  }

  .hoverable > a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .hoverable:hover .mega-menu {
    display: block;
    
  }


  .swiper-pagination-bullet {

    width: 20px !important;
    height: 20px !important;
    text-align: center;
    line-height: 20px !important;
    font-size: 12px;
    color: #fff !important;
    background-color: #828080 !important;
    
  }

  .swiper-pagination-bullet-active {
    
    color: #fff !important;
    background: #226335 !important;
  }
  .swiper-pagination
  {
    bottom: 0px !important;
  }

  /* footer */

  .footer ul li a
  {
   @apply text-white text-sm hover:underline;
  }
  .footer ul
  {
    @apply list-inside;
  }
  .footer ul li
  {
    @apply relative text-white;
  }
  .footer ul li::before
  {
    position: absolute;
    top: 0px;
    left: -15px;
    color: #fff;
    content: "x";
  }

  p, ul li
  {
    @apply text-gray-700;
  }
  p
  {
    @apply py-1;
  }

  .tour
{
  --swiper-navigation-color: #fff; 
  --swiper-pagination-color: #fff;
}
.day
{
  @apply relative;
}

.day::after {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  left: 17px;
  z-index: -1;
  background-color: #ececec;
  top: 17px;
}